<wm-layout [items]="result ? result : []">
  <ng-template #actions let-activeItem>
    <div ngbDropdown class="btn-group" role="group">
      <button id="wmScenarioStateDrop" type="button" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle>
        Set Scenario
      </button>
      <div ngbDropdownMenu class="dropdown-menu">
        <button
          *ngFor="let state of activeItem?.possibleStates ? activeItem.possibleStates : []"
          [id]="state"
          type="button"
          class="dropdown-item"
          [disabled]="state === activeItem.state"
          (click)="setScenarioState(activeItem, state)">
          {{ state }}
        </button>
      </div>
    </div>
    <div id="wmScenarioSection" ngbDropdown class="btn-group" role="group">
      <button id="wmScenarioDrop" type="button" class="btn btn-secondary" (click)="resetAllScenarios()">
        <fa-icon icon="sync-alt"></fa-icon>
        Reset all Scenarios
      </button>
    </div>
  </ng-template>
  <ng-template #content let-activeItem>
    <wm-state-machine [item]="activeItem"></wm-state-machine>
  </ng-template>
</wm-layout>
